body {
    color: white;
    background-color: #1a1a1a;
}

h2 {
    margin: 0;
}

.containers-container {
    display: flex;
}

.container {
    padding: 10px 20px;
    margin-right: 30px;
    background-color: #1d1d1d;
    border-radius: 10px;
    border: 1px solid #666666;
    width: 326px;
}

.card {
    background-color: #383940;
    height: 60px;
    border-radius: 10px;
    padding: 10px 15px;
}

form {
    background-color: #191919;
    border: 1px solid #666666;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 90%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input,
textarea,
.btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    background-color: #363636;
    margin-bottom: 10px;
}

input,
.btn {
    height: 60px;
}

textarea {
    resize: none;
    height: 100%;
}

.btn {
    width: 250px;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}
